<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ssafy.travelog.board.dao.BoardDao">

    <resultMap type="com.ssafy.travelog.board.dto.BoardDto" id="articleInfo">
        <result column="user_no" property="userNo"/>
        <result column="user_name" property="userName"/>
        <result column="article_no" property="articleNo"/>
        <result column="subject" property="subject"/>
        <result column="content" property="content" />
        <result column="readcount" property="readCount" />
        <result column="register_time" property="registerTime" />
        <result column="modified_time" property="modifiedTime" />
    </resultMap>

    <insert id="writeArticle" parameterType="map">
        insert into board (user_no, subject, content) value (#{userNo}, #{subject}, #{content});
    </insert>

    <update id="modifyArticle" parameterType="map">
        update board set
            subject = #{subject},
            content = #{content},
            modified_time = now()
        where article_no = #{articleNo}
    </update>

    <select id="getArticle" parameterType="map" resultMap="articleInfo">
        select article_no, user.user_no,user_name, subject, content, readcount, register_time, modified_time
        from board join user
        on board.user_no = user.user_no
        where article_no = #{articleNo};
    </select>

    <update id="increaseReadCount" parameterType="map">
        update board set
            readcount = readcount+1
        where article_no = #{articleNo}
    </update>

    <delete id="deleteArticle" parameterType="map">
        delete from board
            where article_no = #{articleNo};
    </delete>

    <select id="searchArticle" parameterType="map" resultMap="articleInfo">
        select *
        from board
        <if test="word != null">
            <if test='key.equals("subject")'>
                where subject like concat('%', #{word}, '%');
            </if>
            <if test='key.equals("userName")'>
                WHERE user_no in (select user_no from user where user_name LIKE concat("%", #{word}, "%"));
            </if>
            <if test='key.equals("content") || key == null'>
                WHERE content LIKE concat("%", #{word}, "%");
            </if>
        </if>
    </select>

</mapper>