<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ssafy.travelog.notice.dao.NoticeDao">

    <resultMap id="notice" type="NoticeDto">
        <result column="notice_no" property="noticeNo"/>
        <result column="subject" property="subject"/>
        <result column="content" property="content"/>
        <result column="register_time" property="registerTime"/>
        <result column="modified_time" property="modifiedTime"/>
    </resultMap>

    <insert id="insert" parameterType="map">
        INSERT INTO notice (subject, content)
        VALUE (#{subject}, #{content});
    </insert>

    <update id="update" parameterType="map">
        UPDATE notice
        SET modified_time=now()
        <if test="subject != null">
            ,subject=#{subject}
        </if>
        <if test="content != null">
            ,content=#{content}
        </if>
        WHERE notice_no=#{notice_no};
    </update>

    <delete id="delete" parameterType="int">
        DELETE FROM notice
        WHERE notice_no=#{notice_no};
    </delete>

    <select id="search" parameterType="map" resultMap="notice">
        SELECT *
        FROM notice
        <if test='type.equals("1")'>
            WHERE subject LIKE concat("%", #{value}, "%");
        </if>
        <if test='type.equals("2")'>
            WHERE content LIKE concat("%", #{value}, "%");
        </if>
    </select>

    <select id="searchAll" resultMap="notice">
        SELECT *
        FROM notice;
    </select>

    <select id="searchByNo" parameterType="int" resultMap="notice">
        SELECT *
        FROM notice
        WHERE notice_no=#{noticeNo};
    </select>

</mapper>