<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ssafy.travelog.notice.dao.NoticeDao">

    <insert id="insert" parameterType="map">
        INSERT INTO notice (subject, content)
        VALUE (#{subject}, #{content});
    </insert>

    <update id="update" parameterType="map">
        UPDATE notice
        SET modified_time=now()
        <if test="subject != null">
            ,subject=#{subject}
        </if>
        <if test="content != null">
            ,content=#{content}
        </if>
        WHERE notice_no=#{notice_no};
    </update>

</mapper>