<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ssafy.travelog.plan.dao.PlanDao">

    <select id="listPlan" parameterType="int" resultType="TravelDto">
        SELECT plan_no as planNo, title, description, start_date as startDate, end_date as endDate, authority,
            IF(s.sido_code &lt;= 7,
                s.sido_name,
                CONCAT(s.sido_name, " ", g.gugun_name)) as sidoName
        FROM plan
        JOIN sido s ON plan.sido_code = s.sido_code
        JOIN gugun g ON plan.sido_code = g.sido_code
            AND plan.gugun_code = g.gugun_code
        WHERE plan_no in (
            SELECT plan_no
            FROM participant
            WHERE participant_no = #{userId}
        );
    </select>
</mapper>